.c-field {
  &__wrap {
    position: relative;
    height: 28px;
    border: none;
    border-bottom: 1px solid #000;
  }
  &__error {
    margin-top: 0;
    padding: 5px 10px;
    color: #000;
    background-color: $red-500;
  }
}
.c-field--valid {
  color: map-get($theme, success);
  .c-field {
    &__wrap {
      border-bottom: 1px solid map-get($theme, success);
    }
  }
}

.c-field--dark {
  .c-field{
    &__wrap {
      color: color(sub);
      border-color: color(sub);
    }
  }
}

.c-textarea {
  .c-field__wrap {
    height: 132px;
    border: 1px solid #000;
  }
}

.c-input {
  .c-field__wrap {
    transition: border-color 0.2s;
    &::after {
      @extend %spreadBorder__horizontal;
      border-top: none;
      border-bottom: 2px solid map-get($theme, primary);
    }
  }
}

.c-field--focus.c-input {
  .c-field__wrap {
    border-color: transparent;
    &::after {
      transform: scaleX(1);
    }
  }
}

.c-submit {
  @extend %reset-btn;
  display: block;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
  background-color: map-get($theme, primary);
  margin: 0 auto;
  width: 200px;
  &:hover {
    background-color: lighten(map-get($theme, primary), 5%);
  }
  &:focus {
    color: #fff;
    background-color: $orange;
  }
  &:disabled {
    background-color: $gray-400;
  }
}
