@use "sass:map";

// Color ----

$gray-200: #f2f2f2;
$gray-300: lightgray;
$gray-400: #b2b2b2;
$gray-500: #adb5bd;
$gray-800: gray;
$gray-900: #2f2f2f;
$black: #000;

$red-800: #ad0a1a;
$red-700: #ff0019;
$red-500: #fa5869;
$red-300: #fe586a;
$red-200: #eb9da5;

$orange: #ff5722;
$orange-500: orange;

$blue-200: #92beff;
$blue-700: #3989ff;
$blue-800: #0d6efd;
// $green      : green;
$green-400: #07aa07;
$green-200: #6ed786;

// theme
$theme: (
  base: #000000,
  primary: #fca311,
  primaryEm: $orange,
  sub: #e5e5e5,
  danger: $red-800,
  success: #0ac768,
  info: $blue-800,
  light: #ffffff,
  contrast: #14213d,
  darkSub: $gray-800,
  dark: #18191a
);


// font
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-color-base: map-get($theme, base);
$font-size-base: 16px;

// Body  ----
$body-bg: map-get($theme, sub);
$body-color: $black;
$footer-bg: $gray-400;
$footer-color: $gray-900;

// link
$link-color: map-get($theme, base);
$link-hover-color: map-get($theme, info);
$link-active-color: map-get($theme, sub);

// box / container
$box-width: (
  xxl: 1140px,
  xl: 960px,
  lg: 720px,
  md: 540px,
  sm: 540px,
);
$box-space: 18px;

// breakpoint
$breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
);

// others
$global-block-radius: 10px;
$global-block-shadow: 10px;
$global-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.2);